<!DOCTYPE html>
<html>
<head>
    <title>Internal Server Error</title>
    <style>
        body { text-align: center; padding: 50px; }
        h1 { font-size: 50px; }
        body { font: 20px Helvetica, sans-serif; color: #333; }
        article { display: block; width: 650px; margin: 0 auto; }
        a { color: #dc8100; text-decoration: none; }
        a:hover { color: #333; text-decoration: none; }
    </style>
</head>
<body>
    <article>
        <h1>500</h1>
        <div>
            <p>Sorry, something went wrong on our end.</p>
            <p>Our team has been notified and we're working on it.</p>
            <p><a href="/">Return to homepage</a></p>
        </div>
    </article>
</body>
</html>