{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle"></div>
      <h1>Change Password</h1>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('main.dashboard')}}">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('profile_routes.profile_settings')}}">Profile Settings</a></li>
          <li class="breadcrumb-item active">Change Password</li>

        </ol>
    </nav>

    <section class="section dashboard">
        <div class="container">
            <form method="POST" action="{{ url_for('auth_routes.change_password') }}">
                {{ form.hidden_tag() }}
        
                <!-- Old Password -->
                <div class="form-group">
                    {{ form.old_password.label }}
                    {{ form.old_password(class="form-control") }}
                </div>
        
                <!-- New Password -->
                <div class="form-group">
                    {{ form.new_password.label }}
                    {{ form.new_password(class="form-control") }}
                </div>
        
                <!-- Confirm Password -->
                <div class="form-group">
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(class="form-control") }}
                </div>
        
                <!-- Submit Button -->
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        
            <a href="{{ url_for('profile_routes.profile_settings') }}">Back to Profile Settings</a>
        </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}
